h1,
h2,
p,
video,
img {
  font-family: verdana;
  font-weight: normal;
  text-align: center;
  background-color: black;
}
h1 {
  color: white;
  font-size: 50px;
}
h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}
p {
  font-size: 21px;
  color: gray;
}
#link {
  font-size: 16px;
  color: aquamarine;
}
#copy {
  text-align: right;
}
